.tablewrapper {
  margin: 60px;
  width: auto;
}

.table {
  border-radius: 5px;
}

.react-bootstrap-table-page-btns-ul {
  float: right;
  margin-top: 0
}

.buttonwrapper {
  padding: 15px;
  text-align: center;
}

.btn-group-toggle {
  margin: 15px;
}

.filter-label {
  display: none;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff !important;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

.page-link {
  color: black !important;
}
