Table {
  text-align: center;
}
.tableWrapper {
  margin: 2rem 0 1rem 0;
}

.borderBottom {
  border-bottom: 1px solid grey;
}

.table th {
  background-color: #202327;
}

.table th:nth-child(1) {
  border-top-left-radius: 10px;
}
.table th:nth-child(9) {
  border-top-right-radius: 10px;
}
